body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 232, 235);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}
.display{
    font-size: 5rem;
    font-family: monospace;
}