/* body{
  background-color: rgb(178, 206, 206);
}
.to-o-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}
button {
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: green;
  border: 2px solid green;
}
.add-button:hover {
  background-color: darkgreen;
}
.delete-button {
  background-color: red;
  border: 2px solid red;
}
.delete-button:hover {
  background-color: darkred;
}
.move-button {
  background-color: blue;
}
.move-button:hover {
  background-color: darkblue;
}
input {
  type: text;
  font-size: 1.5em;
  padding: 10px;
  border: 2px solid hsl(0, 71%, 39%);
  border-radius: 5px;
  color: hsl(180, 70%, 45%);
}

ol {
  padding: 0;
}

li {
  font-size: 2em;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid hsl(0, 71%, 39%);
  border-radius: 5px;
  align-items: center;
}
.text {
  flex: 1;
}
.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
} */
